body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#fafafa;
}

.btn {
  height: 100px;
  width: 400px;
  font-size: 30px;
  color: #fff;
  background-color: #5256f4;
  border: none;
  border-radius: 50px;
  font-family: montserrat;
  margin-top: 100px;
  cursor: pointer;

}

.info {
  color: #273746;
  font-size: 25px;
  font-family:montserrat, sans-serif;
  margin-top: 25px;
}


.box{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
