@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "poppins";
}

h1{
    font-size: 5rem;
}

a{
    text-decoration: none;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
}

a:hover{
    color: #000;
    background-color: #fff;
    border: 1px soild #000;
}

p{
    font-family: "poppins";
    padding: 0.5rem 4rem;
}

.opt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
}

@media (max-width: 600px){
    .opt{
        flex-direction: column;
    }
}