body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #808b96;
}

.btn {
  height: 100px;
  width: 400px;
  font-size: 50px;
  color: #fff;
  background-color: #5256f4;
  border: none;
  border-radius: 50px;
  font-family: montserrat;
  margin-top: 100px;
  cursor: pointer;
}

.info {
  color: #fff;
  font-size: 25px;
  font-family: "Open Sans";
  margin-top: 25px;
}
